.drawer_links{
    .MuiTypography-root{
        font-weight: 600;
        color:#090D28 !important
    }
    .MuiSvgIcon-root{
        fill: #090D28 !important ;

    }
}
.drawer_link_active{
    border-left: 3px solid black !important;
}
.mobile_hamburger_toolbar{
    background: #fff !important;
    padding: 14px;
}
