.inner_banner_section{
	position: relative;
    padding-top: 65px;
  }

  .inner_banner_section > img{
	width: 100%;
  }
  .banner_content{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
  left: 0;

    // .container{
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     /* height: 100%; */
    //     max-width: 100%;
    // }
  }

	@media only screen and (max-width: 600px) {
	  .inner_banner_section > img {
		height: 170px;
	  }
	}

.signup_page{

  .signup_input_fields{

      .MuiInputBase-input{
        padding: 12px !important;
      }
      .MuiInputBase-input:focus{
        box-shadow: none !important;
      }
      .MuiFormHelperText-root{
        margin-left: 0px !important;
      }
    }

    .custom_checkbox_label{
      .MuiFormControlLabel-root{
        align-items: start;
      }
    }
    .submit_btn{
        .MuiButtonBase-root{
            padding: 10px 32px;
            background-color  : #1d6fa4;
            text-transform : capitalize;
        }
        .MuiButtonBase-root:hover{
            background-color: #1d6fa4;
        }
      }

      .email_notification_popup{
        .MuiDialog-container{
          .MuiPaper-root {
            border-radius: 15px;
            height: 352px;
            width: 600px;
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);

          }
        }
      }
}
