.navbar_main_mobile{
    position: sticky;
    padding-top:26px;
    top: 0px;
    z-index: 1300;
    margin-left: auto !important;
    padding-top: 26px !important;
    background-color: #fff !important;
}
.navbar_main{
    position: sticky;
    top: 0px;
    background: #fff !important;
    z-index: 1300 !important;
    padding-top: 15px !important;

}
