.delete_popup{
    .MuiDialog-container {
        .MuiPaper-root{
            align-items: center !important;
            padding: 12px 80px !important;
            .cancel_btn:hover{
                background-color: #117B9E !important;
            }
        }
    }
}
