
.profile_page{
    .profile_input_fields{
        .MuiInputBase-input{
            padding: 12px !important;
        }
        .MuiInputBase-input:focus{
            box-shadow: none !important;
        }
    }
    .profile_message_field{
        textarea:focus{
            box-shadow: none !important;
          }
    }
    .profile_select_box{
        .MuiInputBase-input{
            padding: 12px !important;
        }
    }
    .MuiFormHelperText-root{
         margin-left: 0px !important;
    }
    .submit_btn{
        .MuiButtonBase-root{
            padding: 10px 32px;
            background-color  : #117B9E;
            text-transform : capitalize;
        }
        .MuiButtonBase-root:hover{
            background-color: #117B9E;
        }
    }
}