.rounded-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-bottom: 10px !important;
}


.serach-every input:focus {
    box-shadow: none !important;
}
.serach-every input {
    // box-shadow: none !important;
    border: 1px solid #e5e7eb;
    background-color: #ffff;
    border-radius: 5px;
    padding-left: 36px;
}
.serach-every .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
}

.serach-every input:focus{
    box-shadow: none !important;
}

.serach-every .search-icon{
    position: absolute;
    top: 50%;
    left: 43px;
}

.mobile_hamburger_header{
    background-color: transparent !important;
    box-shadow: none !important;
}
.serach-every .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
}
.table_pagination{
    ul{
        li{
            .MuiButtonBase-root{
                border:1px solid #D3D3D3 !important;
            }
            .Mui-selected{
                background-color: #117B9E !important;
                border: 1px solid #117B9E !important;
                color: #fff !important;
            }
        }
    }
}

.custom_input {
    .MuiInputBase-input{
        padding: 16.5px 14px !important;
    }
    .MuiInputBase-input:focus{
        box-shadow: none !important;
    }
    textarea:focus{
        box-shadow: none !important;
      }
}
