.rounded-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
}


.serach-every input:focus {
    box-shadow: none !important;
}
.serach-every input {
    // box-shadow: none !important;
    border: 1px solid #e5e7eb;
    background-color: #ffff;
}
.serach-every .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
}

.serach-every input:focus{
    box-shadow: none !important;
}

.serach-every .search-icon{
    position: absolute;
    top: 50%;
    left: 43px;
}

.mobile_hamburger_header{
    background-color: transparent !important;
    box-shadow: none !important;  
}
.serach-every .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 0px !important;
}