
.profile_page{
    overflow: hidden;
    .profile_input_fields{
        .MuiInputBase-input{
            padding: 16.5px 14px !important;
        }
        .MuiInputBase-input:focus{
            box-shadow: none !important;
        }
    }
    .profile_message_field{
        textarea:focus{
            box-shadow: none !important;
          }
    }
    .MuiFormHelperText-root{
         margin-left: 0px !important;
    }
    .submit_btn{
        .MuiButtonBase-root{
            padding: 10px 32px;
            background-color  : #117B9E;
            text-transform : capitalize;
        }
        .MuiButtonBase-root:hover{
            background-color: #117B9E;
        }
    }
}

.review_mentor{
    .input_fields{
        .MuiInputBase-input{
            padding: 16.5px 14px !important;
        }
        .MuiInputBase-input:focus{
            box-shadow: none !important;
        }
    }
    .edit_btn{
        .MuiButtonBase-root{
            padding: 8px 32px;
            background-color  : #117B9E;
            text-transform : capitalize;
        }
        .delete_account{
            background-color: #d32f2f !important;
            padding: 8px 20px !important;
        }
        .delete_account:hover{
            background-color: #d32f2f !important;
        }
        .MuiButtonBase-root:hover{
            background-color: #117B9E;
        }
    }
    .reset_btn{
        .MuiButtonBase-root{
            padding: 4px 20px;
            background-color  : #117B9E;
            text-transform : capitalize;
        }
        .MuiButtonBase-root:hover{
            background-color: #117B9E;
        }
    }
    .submit_btn {
        .MuiButtonBase-root{
            padding: 15px 38px;
            background-color  : #117B9E;
            text-transform : capitalize;
        }
        .MuiButtonBase-root:hover{
            background-color: #117B9E;
        }
    }
}

.mentor_list{
    .table_pagination{
        ul{
        li{
            .MuiButtonBase-root{
                border:1px solid #D3D3D3 !important;
            }
            .Mui-selected{
                background-color: #117B9E !important;
                border: 1px solid #117B9E !important;
                color: #fff !important;
            }
        }
    }
}
}